:root 
  --retroRed: rgb(251,46,1)
  --retroDark: rgb(102,101,71)
  --retroCyan: rgb(111,203,159)
  --retroYellow: rgb(255,226,138)
  --retroYellowLight: rgb(255,254,179)
  --retroBrown: rgb(56,26,6)
  --retroBlue: rgb(61,142,191)
  --retroBlueDarker: rgb(66,110,135) 
  --retroGreen: rgb(131,152,77) 
  --retroBlack: rgb(66,63,63)
  --retroWhite: rgb(251,248,248)
  --black: #272727

